<h1>List of houses</h1>

<%= link_to 'Create new house', new_house_path %>

<table>
  <tr>
    <th>ID</th>
    <th>Address</th>
  </tr>
  <% @houses.each do |house| %>
    <tr>
      <td><%= house.id %></td>
      <td><%= house.address %></td>
      <td><%= link_to 'Show', house %></td>
      <td><%= link_to 'Edit', edit_house_path(house) %></td>
      <td><%= link_to 'Delete', house, method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>