<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <% if user.admin %>
            <td><%= link_to 'Disable admin role', admin_user_path(user, admin: false),
                            method: :patch %></td>
        <% else %>
            <td><%= link_to 'Enable admin role', admin_user_path(user, admin: true),
                            method: :patch %></td>
        <% end %>
        <td><%= link_to 'Delete', admin_user_path(user), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>