<h1>List of boats</h1>

<%= link_to 'Create new boat', new_boat_path %>

<table>
  <tr>
    <th>ID</th>
    <th>Model</th>
  </tr>
  <% @boats.each do |boat| %>
    <tr>
      <td><%= boat.id %></td>
      <td><%= boat.model %></td>
      <td><%= link_to 'Show', boat %></td>
      <td><%= link_to 'Edit', edit_boat_path(boat) %></td>
      <td><%= link_to 'Delete', boat, method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>