<h1>List of trees</h1>

<%= link_to 'Create new tree', new_tree_path %>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  <% @trees.each do |tree| %>
    <tr>
      <td><%= tree.id %></td>
      <td><%= tree.name %></td>
      <td><%= link_to 'Show', tree %></td>
      <td><%= link_to 'Edit', edit_tree_path(tree) %></td>
      <td><%= link_to 'Delete', tree, method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>