<h1>List of photos</h1>

<%= link_to 'Create new photo', new_photo_path %>

<table>
  <tr>
    <th>ID</th>
    <th>Url</th>
  </tr>
  <% @photos.each do |photo| %>
    <tr>
      <td><%= photo.id %></td>
      <td><%= photo.url %></td>
      <td><%= link_to 'Show', photo %></td>
      <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
      <td><%= link_to 'Delete', photo, method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>