<h1>List of cars:</h1>

<%= link_to 'Create new car', new_car_path %>

<table>
  <tr>
    <th>ID</th>
    <th>Model</th>
  </tr>
  <% @cars.each do |car| %>
    <tr>
      <td><%= car.id %></td>
      <td><%= car.model %></td>
      <td><%= link_to 'Show', car %></td>
      <td><%= link_to 'Edit', edit_car_path(car) %></td>
      <td><%= link_to 'Delete', car, method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>