%h1 Edit #{@user.email} profile

= form_for [@user, @profile] do |f|
  %p
    = f.label :first_name
    %br
    = f.text_field :first_name
  %p
    = f.label :last_name
    %br
    = f.text_field :last_name
  %p
    = f.label :gender
    %br
    = f.radio_button :gender, false
    = f.label 'Male'
    %br
    = f.radio_button :gender, true
    = f.label 'Female'
  %p
    = f.label :birthday
    %br
    = f.date_field :birthday
  %p
    = f.label :avatar
    %br
    = f.file_field :avatar

  %p = f.submit

= link_to 'Back', [@user, @profile]