<h1>Edit <%= @user.email %> profile</h1>

<%= form_for [@user, @profile] do |f| %>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :gender %><br />

    <%= f.radio_button :gender, false %>
    <%= f.label 'Male' %><br />

    <%= f.radio_button :gender, true %>
    <%= f.label 'Female' %>
  </p>

  <p>
    <%= f.label :birthday %><br />
    <%= f.date_field :birthday %>
  </p>

  <p>
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </p>

  <p><%= f.submit %></p>
<% end %>

<%= link_to 'Back', [@user, @profile] %>