<h1>List of cats:</h1>

<%= link_to 'Create new cat', new_cat_path %>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  <% @cats.each do |cat| %>
    <tr>
      <td><%= cat.id %></td>
      <td><%= cat.name %></td>
      <td><%= link_to 'Show', cat %></td>
      <td><%= link_to 'Edit', edit_cat_path(cat) %></td>
      <td><%= link_to 'Delete', cat, method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>