<h1>Cat ID: <%= @cat.id %></h1>

<p>
  Name: <%= @cat.name %>
</p>

<%= link_to 'Edit', edit_cat_path(@cat) %><br />
<%= link_to 'Delete', @cat, method: :delete,
            data: { confirm: 'Are you sure?' } %><br />
<%= link_to 'Back', cats_path %>


