<h1>List of audios</h1>

<%= link_to 'Create new audio', new_audio_path %>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
  </tr>
  <% @audios.each do |audio| %>
    <tr>
      <td><%= audio.id %></td>
      <td><%= audio.title %></td>
      <td><%= link_to 'Show', audio %></td>
      <td><%= link_to 'Edit', edit_audio_path(audio) %></td>
      <td><%= link_to 'Delete', audio, method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>