<h1>List of tables</h1>

<%= link_to 'Create new table', new_table_path %>

<table>
  <tr>
    <th>ID</th>
    <th>Color</th>
  </tr>
  <% @tables.each do |table| %>
    <tr>
      <td><%= table.id %></td>
      <td><%= table.color %></td>
      <td><%= link_to 'Show', table %></td>
      <td><%= link_to 'Edit', edit_table_path(table) %></td>
      <td><%= link_to 'Delete', table, method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>